/*Gerais*/

body{
    font-family:'Roboto', sans-serif;
    background-color: #0e0b0b;
    /*height: 100vh;*/

     background-image: url(/img/fundo.png);
     background-repeat: no-repeat;
     background-size: cover;

}


.row{
    margin: 0;
}

tbody img {
    width: 80px;
    border-radius: 7px;
}
.container{
    padding: 70px 0;


}
p, li{
    color:#fff;
    font-size: 14px;
}


/*boxPrincipal*/
.box{


    border-radius: 7px;
     display: block;
     /*margin: 115px auto;*/
    color: #fff;

}
.boxb{

    background: #00000070;
    border-radius: 7px;
     display: block;
     margin: 30px auto;
    color: #fff;

}
.box p{
    color:#fff;
}
.col-md-7.texto {
    margin: 0 auto;
}

.botoes{
    display: flex;
    flex-direction: row;
}
.subtitulo{
    text-align: left;
}
.botoes .btn {
    width: 300px;
    height: 52px;
    line-height: 2;
    font-size: 18px;
    text-align: center;
    background: #dc0101;
    margin-bottom: 13px;
}
.red{
    color:#dc0101;
}


/*formulario*/

.btnform.text-center {
    margin-top: 20px;
}
.formulario{
    text-align: left;
}
.form-group {
    margin-top: 20px;
}


span.taxa {
    font-size: 11px;
    font-weight: bold;
}
input#nome {
    width: 225px;
}
h2 {
    margin-bottom: 20px;
}
.residencial, .comercial, .terreno {
    margin-left: 4px;
    cursor: pointer;
    font-weight: bold;
}
input[type='range'] {
    width: 100%;
  }



  input[type='range']::-webkit-slider-runnable-track {
    height: 3px;

    border-radius: 5px;

  }

  input[type='range']::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    cursor: pointer;
    background: red;
    border: solid white 1px;
    border-radius: 50%;
    margin-top: -6px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  }

  /** FF*/

  input[type="range"]::-moz-range-progress {
    background-color: red;
    border-radius: 5px;
  }



/*input radio personalizado*/

input.form-check-input.ms-5 {
    border-radius: 3px;
    background-color:#000;
    border: 1px solid #fff;
    margin-right: 1px;
}
.form-check-input:checked {
    background-color: #000;
    border-color: #dc3545;
}
.form-check-input:checked[type=radio] {

    background-image: url('/img/visto.png');
}
/*tabela*/

tbody td {
    border-left: 1px solid #444;
}
.form-label {
    margin-bottom: -0.5rem;
}
.col-md-9.box1 {
    margin: 0 auto;
}
table.table.table-borderless {
    color: #fff;
}

/*responsivo*/

@media screen and (max-width: 600px) {
    .botoes {
        display: flex;
        flex-direction: column;
    }
    .form-group input, input#nome {
        width: -webkit-fill-available;
    }
    input.form-check-input.ms-5 {
        margin-left: 27px !important;
    }
    .box {

        margin: 0 auto;

    }
    .boxb {

        margin: 0 auto;

    }
}
